// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


body {
  user-select: auto !important
}

ion-content {
  background: #fff !important;
}

ion-item {
  background: color($colors, cinza) !important;
}

ion-header {
  ion-navbar {
    background: color($colors, nasajon) !important;
  }
}

ion-menu {
  ion-content, ion-footer {
    background: color($colors, nasajon) !important;

    .item, ion-item {
      background: transparent !important;
      color: #fff;
    }
  }
}

.menu-container {
  background-color: color($colors, nasajon);
}
